[build]
  command = "npm run build"
  publish = "build"

[build.environment]
  REACT_APP_API_URL = "https://b1-flyer-sofi-backend.onrender.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
